.logo{
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
}

.sublogo{
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    margin-left: 250px;
    margin-top:0px;
}

.header{
    background-color: #f1efe7;
    text-align: center;
    padding:30px    
}

.buttons{
    text-align: center;
    margin-top: 30px;
}

.create {
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background-color: #865D3F;
    color: #f1efe7;
    padding: 10px 20px;
    border-radius: 8px; 
}

.create:hover {
    background-color: #664731;
}

.alreadyHaveCode{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.enterCode{
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    background-color: #865D3F;
    color:#f1efe7;
    padding: 8px 18px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

.enterCode:hover {
    background-color: #664731;
}



/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #673a0b;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #f3ead8;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #21503f;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(138, 24, 24);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
